/.DS_Store
/__pycache__
/bin
/include
/lib
gscwrapper/notebooks
gscwrapper/notebooks/llg
gscwrapper/config
/pyvenv.cfg
/share
*.pyc
gscwrapper/__pycache__/auth.cpython-310.pyc
.venv 
*.lock 
*egg-info
