/.DS_Store
/__pycache__
/bin
gscwrapper/exemple.py
/include
/lib
gscwrapper/config
/pyvenv.cfg
/share
gscwrapper/ctr_curve.csv
gscwrapper/exemple.py
gscwrapper/test.py
*.pyc
*.pyc
gscwrapper/__pycache__/auth.cpython-310.pyc
test.py
data.csv
